body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #7c7c7c;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  color: #1a1b1e;
  font-weight: 400;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

ul li i {
  padding: 7px;
}

ul li {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  color: #1a1b1e;
  font-weight: 400;
  font-size: 2rem;
}

.container {
  font-weight: 300;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 1430px;
  margin: 0 auto;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 100px 0 100px 0;
  flex-wrap: wrap;

}

.image {
  background-color: #f5f5f5d7;
  flex-basis: 60%;
  height: 500px;
  position: relative;
  border-radius: 3px;
  /* width: 500px; */
}

.image-wrapper {
  overflow: hidden;
  height: 500px;
  width: 90%;
  /* position: absolute; */
  /* top: 60%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: 5%;

  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.315);
  border-radius: 3px;

}

.image img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.image img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.description {
  flex-basis: 35%;
  margin-top: 0;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.tech-list li {
  font-weight: 200;
  font-size: 1.25rem;
  ;
}

.links {
  flex-basis: 100%;
  text-align: center;
  margin-top: 75px;
  z-index: 100;
}

.links a,
i {
  color: #7c7c7c;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 10px;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 1.2rem;
  ;
}

.links a:hover i {
  color: #000;
  transform: rotate(45deg);
}

.project:nth-child(odd) .description {
  order: 0;
}

.project:nth-child(odd) .image {
  order: 1;
}

.project:nth-child(odd) .links {
  order: 2;
}

@media (max-width: 992px) {
  .project {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .description {
    order: 0;
    text-align: center;
  }

  .image {
    order: 1;
  }

  .links {
    order: 2;
    margin: 25px;
  }

  .tech-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .tech-list li {
    padding: 0px 20px;
    font-size: 1rem;
  }

  h2 {
    text-align: center;
  }

}