body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #7c7c7c;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  color: #1a1b1e;
  font-weight: 400;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

ul li i {
  padding: 7px;
}

ul li {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  color: #1a1b1e;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  font-weight: 300;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 50px;

}

.image {
  background-color: #f5f5f5d7;
  flex-basis: 60%;
  height: 300px;
  position: relative;
}

.image img {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 90%;
  object-fit: cover;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.465);
  border-radius: 3px;
  height: 300px;
}

.description {
  flex-basis: 35%;
  margin-top: 0;
  padding: 0px 20px;
}